*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;  
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 58%;
    height: 100vh;    
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58%;
}

.instagram-phone img {
    height: 45rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* horizontal */
    flex-direction: column;
    width: 50%;
    min-height: 20rem; /*26 fica bom*/
}

.group {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* horizontal */
    flex-direction: column;
    width: 100%;
    margin: 40px 0px 10px;
    padding: 15px 0;
    border: 1px solid lightgray;  
    background-color: #ffffff;
}

.group:nth-child(1) {
    min-width: 26rem;
    min-height: 24rem;
}

.group:nth-child(2){
    min-height: 5rem;
    margin: 0;
}

.instagram-logo {
    height: 4rem;
    
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 8rem; /* altura*/
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    font-weight: bold;
    padding: 7px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 4px;
    margin-top: 0;
}
.instagram-logout {
    color: #0095f6;
    font-weight: bold;
}

.not-account {
    color: black;
    padding: 4px ;
}

.link-blue {
    color:#0095f6;
    font-weight: bold;
}

.get-the-app {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: center; /* horizontal */
    flex-direction: column;
    width: 100%;
    padding: 1rem 0; 
    padding-bottom: 0;  
}

.download {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-evenly; /* horizontal */
    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;    
}

.app-download:nth-child(1) {
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('img/googleplay-button.png')
}

/* media queries - serve para fazer a responsividade*/

@media (max-width: 1125px) {
    .instagram-wrapper{
        width: 80%; 
    }       
}

@media (max-width: 1024px) {
    .instagram-wrapper{
        width: 90%; 
    }       
}

@media (max-width: 875px) {
    .instagram-phone{
        display: none;
    }

    .instagram-wrapper{
        width: 90%;
        justify-content: center;
    }

    .instagram-continue{
        width: 90%;
    }

    .group{
        width: 50%;
    }

    .group:nth-child(2){
        
        min-width: 15rem;
       
    }

    .get-the-app{
        width:90%;
    } 
}

@media (max-width: 450px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper{
        width: 90%;
        justify-content: center;
    }

    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 90%;
        justify-content: center;
    }

    .group{
        width: 70%;
        border: 1px solid transparent;
    }
}
